
@model OnlineCourseSystem.Domain.Model.Tasks.QuizTask


<div class="question-wrap">

    <div class="text-task">
        <h2 class="question-title quiz-title">@Model.Name</h2>
    </div>
    
    <div class="form-quiz" name="quiz">
        <input id="taskId-quiz-@Model.Id" type="hidden" value="@Model.Id" />

        <div class="question-paragraph">
            <p>@Model.Question</p>
        </div>
        @foreach (var variant in Model.VariantOfAnswers)
        {
            <div class="quiz-option quiz-option-correct quiz-option-disabled">
                <input type="radio" name="variant" value="@variant.Text" />@variant.Text<br />
            </div>
        }
    <div class="nav-buttons">
        <div id="result-quiz-@Model.Id"></div>
        <button id="send-answer-quiz-@Model.Id" class="counter_form_button question-button question-button-send button-disabled">Send answer</button>
    </div>
        
    </div>

    <div class="nav-buttons">
        <button class="counter_form_button question-button move-back-btn">Back</button>
        <button class="counter_form_button question-button move-next-btn">Next</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
                url: "/User/CourseStatistic/CheckCompleteQuiz",
                type: "GET",
                data: {
                    taskId: $("#taskId-quiz-@Model.Id").val(),
                }
            }).
            done(function (res) {
                
                if (res.isCompleted === true) {
                    $("#send-answer-quiz-@Model.Id").prop("disabled", true); 
                    $("#send-answer-quiz-@Model.Id").addClass("disabled");
                    $("#result-quiz-@Model.Id").html(`<div class="courses-right"><p>Correct! Well Done</p></div>`);
                }
                console.log($("#send-answer-quiz"));
            });
    });


    $("#send-answer-quiz-@Model.Id").click(function() {
        $.ajax({
                url: "/User/CourseStatistic/Quiz",
                type: "GET",
                data: {
                    answer:$("input[type='radio'][name='variant']:checked").val(),
                    taskId: $("#taskId-quiz-@Model.Id").val(),
                }
            }).
            done(function (res) {
                $("#send-answer-@Model.Id").prop("disabled", true); 
                $("#send-answer-quiz-@Model.Id").addClass("disabled");
                if (res.rezult === true) {
                    $("#result-quiz-@Model.Id").html(`<div class="courses-right"><p>Correct! Well Done</p></div>`);
                } else {
                    $("#result-quiz-@Model.Id").html(`<div class="courses-wrong"><p>Unfortunately, You are wrong</p></div>`);
                }
            });
    });
</script>