@model System.Collections.Generic.List<OnlineCourseSystem.Areas.User.Models.SectionViewModel>

@section Links{
    <link href="~/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/styles/course.css">
    <link rel="stylesheet" type="text/css" href="~/styles/course_responsive.css">
}


@foreach (var sec in Model)
{
    if (sec.ChildSections == null || sec.ChildSections.Count == 0)
    {
        <li class="pushy-link "><a class="content-link" data-id="@sec.Id" href="javascript:void(0)">@sec.Name</a></li>
    }
    else
    {
        <li class="pushy-submenu">
            <button>@sec.Name</button>
            <ul>
                @foreach (var childSec in sec.ChildSections)
                {
                    <li class="pushy-link zalupa"><a class="content-link" data-id="@childSec.Id" href="javascript:void(0)">@childSec.Name</a></li>
                }
            </ul>
        </li>
    }
}