
@using OnlineCourseSystem.Areas.User.Data
@model HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "_LayoutMain";
}


<!-- Home -->

<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center wow fadeInUp">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form asp-action="Searcher" asp-controller="Home" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-around">
                                            <input name="userInput" id="userInput" type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <span class="home_search_splitter">|</span>
                                            <select name="selectedCategory" id="selectedCategory" class="dropdown_item_select home_search_input">
                                                @foreach(var category in Model.CategoriesNames)
                                                {
                                                <option>@category</option>
                                                }
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center wow fadeInUp">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_2" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-around">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <span class="home_search_splitter">|</span>
                                            <select name="selectedCategory" id="selectedCategory" class="dropdown_item_select home_search_input">
                                                @foreach(var category in Model.CategoriesNames)
                                                {
                                                    <option>@category</option>
                                                }
                                            </select>

                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center wow fadeInUp">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_3" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-around">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <span class="home_search_splitter">|</span>
                                            <select name="selectedCategory" id="selectedCategory" class="dropdown_item_select home_search_input">
                                                @foreach(var category in Model.CategoriesNames)
                                                {
                                                    <option>@category</option>
                                                }
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<!-- Features -->

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center wow fadeInUp">
                    <h2 class="section_title">Welcome To Wkila E-Learning</h2>
                    <div class="section_subtitle"><p>Are you looking for free online courses that can help you take your eLearning deliverables to the next level?</p></div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_1.png" alt=""></div>
                    <h3 class="feature_title">The Experts</h3>
                    <div class="feature_text"><p>Group of celebrated international experts</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_2.png" alt=""></div>
                    <h3 class="feature_title">Book & Library</h3>
                    <div class="feature_text"><p>Quick access to online library</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Best Courses</h3>
                    <div class="feature_text"><p>Approved by worldwide experts</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Award & Reward</h3>
                    <div class="feature_text"><p>Top-10 list of the best students every week</p></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Popular Online Courses</h2>
                    <div class="section_subtitle"><p>From machine learning to positive psychology to Chinese, there's something here for almost everybody.</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">

            <!-- Course -->
            @foreach (var m in Model.Courses)
            {
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="@m.CourseImage" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a asp-action="Details" asp-controller="Course" asp-route-id="@m.Id">@m.CourseName</a></h3>
                        <div class="course_teacher">@m.CourseAuthor</div>
                        <div class="course_text">
                            <p>@m.CourseDescription</p>
                        </div>
                    </div>
                    <div class="course_footer">
                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-between">
                            <div class="course_info">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <span>@m.UsersCount Student</span>
                            </div>
                            <div class="course_info">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>@m.UsersScore Ratings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a asp-action="Index" asp-controller="Course">view all courses</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Counter -->

<div class="counter">
    <div class="counter_background" style="background-image:url(images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Our Achievements</h2>
                    <div class="counter_text"><p>We are the future in online learning technology.</p></div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="@Model.Stats.CourseCount">0</div>
                            <div class="milestone_text">courses</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="@Model.Stats.UserCount">0</div>
                            <div class="milestone_text">users</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="@Model.Stats.AuthorsCount">0</div>
                            <div class="milestone_text">tutors</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="@Model.Stats.YearsCount">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form">
            <div class="row fill_height">
                <div class="col fill_height">
                    <div class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
                        <div class="counter_form_title">order a call</div>
                        <input type="text" class="counter_input" placeholder="Your Name:" required="required">
                        <input type="tel" class="counter_input" placeholder="Phone:" required="required">
                        <textarea class="counter_input counter_text_input" placeholder="Message:" required="required"></textarea>
                        <button id="submit-call" type="submit" class="counter_form_button">submit now</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="call-sent" class="counter_form counter_form_sent">
            <div class="row fill_height">
                <div class="col fill_height">
                    <div class="counter_form_content counter_form_content_sent d-flex flex-column align-items-center justify-content-center" action="#">
                        <div class="counter_form_title counter_form_title_sent">Done!</div>
                        <h4>We will call you back soon!</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Events -->

<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Upcoming events</h2>
                    <div class="section_subtitle"><p></p></div>
                </div>
            </div>
        </div>
        <div class="row events_row">
            @foreach(var eventModel in Model.Events)
            {
            <div class="col-lg-4 event_col">
                <div class="event event_left">
                    <div class="course_image"><img src="@eventModel.ImageUrl" alt=""></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <div class="event_day trans_200">@eventModel.Time.Day</div>
                                <div class="event_month trans_200">@eventModel.Time.ToMonthName()</div>
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a asp-action="Details" asp-controller="Event" asp-route-id="@eventModel.Id">@eventModel.Name</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>@eventModel.Time.Hour.ToString("00.##").@eventModel.Time.Minute.ToString("00.##")</span></div>
                                <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>@eventModel.Address</span></div>
                                <div class="event_text">
                                    <p>@eventModel.SampleText</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<!-- Team -->

<div class="team">
    <div class="team_background parallax-window" data-parallax="scroll" data-image-src="images/team_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">The Best Tutors in Town</h2>
                    <div class="section_subtitle"><p></p></div>
                </div>
            </div>
        </div>
        <div class="row team_row">

            @foreach (var author in Model.Authors)
            {
            <div class="col-lg-3 col-md-6 team_col">
                <div class="team_item">
                    <div class="team_image"><img src="@author.PhotoUrl" alt=""></div>
                    <div class="team_body">
                        @if (author.Name == null || author.Subname == null)
                            {
                        <div class="team_title"><a href="#">@author.UserName</a></div>
                            }
                            else
                            {
                        <div class="team_title"><a href="#">@(author.Name+" "+author.Subname)</a></div>
                            }
                        <div class="team_subtitle">@(author.Position ?? "Good Guy")</div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>

<!-- Latest News -->
@if (Model.BigNews != null)
{
<div class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Latest News</h2>
                    <div class="section_subtitle"><p></p></div>
                </div>
            </div>
        </div>

        <div class="row news_row">
            <div class="col-lg-7 news_col">
                <!-- News News Large -->
                <div class="news_post_large_container">
                    <div class="news_post_large">
                        <div class="news_post_image"><img src="@Model.BigNews.ImageUrl" alt=""></div>
                        <div class="news_post_large_title"><a asp-action="Details" asp-controller="News" asp-route-id="@Model.BigNews.Id">@Model.BigNews.Title</a></div>
                        <div class="news_post_meta">
                            <ul>
                                <li><a href="#">@Model.BigNews.Author</a></li>
                                <li><a href="#">@Model.BigNews.ReleaseTime.ToMonthName() @Model.BigNews.ReleaseTime.Day, @Model.BigNews.ReleaseTime.Year</a></li>
                            </ul>
                        </div>
                        <div class="news_post_text">
                            <p>@Model.BigNews.TextPreview</p>
                        </div>
                        <div class="news_post_link"><a href="blog_single.html">read more</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 news_col">
                <div class="news_posts_small">
                    @foreach (var sp in Model.News)
                        {
                    <div class="news_post_small">
                        <div class="news_post_small_title"><a asp-action="Details" asp-controller="News" asp-route-id="@sp.Id">@sp.Title</a></div>
                        <div class="news_post_meta">
                            <ul>
                                <li><a href="#">@sp.Author</a></li>
                                <li><a href="#">@sp.ReleaseTime.ToMonthName() @sp.ReleaseTime.Day, @sp.ReleaseTime.Year</a></li>
                            </ul>
                        </div>
                    </div>
                        }

                </div>
            </div>
        </div>

    </div>
</div>
}
<script src="~/js/jquery-3.2.1.min.js"></script>
<script>
    $("#call-sent").hide();
    $("#submit-call").click(function() {
        $("#call-sent").show();
    });
</script>

