@model IEnumerable<OnlineCourseSystem.Domain.Model.News>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="table-title">
                List of news
            </div>
                <div class="create-news-button"><form asp-action="Create" asp-controller="News" method="get">
    <button class="button-add-news">Add news</button>
</form></div>
            
            
            <table id="customers" class="table table-bordered table-hover table-custom">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Confirmed</th>
                        <th>Author</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                @foreach (var newsModel in Model)
                {
                    <tr>
                        <td>@newsModel.Id</td>
                        <td>@newsModel.Name</td>
                        @if (newsModel.Author.Name == null || newsModel.Author.Surname == null)
                        {
                            <td>@newsModel.Author.UserName</td>
                        }
                        else
                        {
                            <td>@newsModel.Author.UserName (@newsModel.Author.Name @newsModel.Author.Surname)</td>
                        }
                        <td><a asp-action="Details" asp-controller="News" asp-route-id="@newsModel.Id">Details</a></td>
                        <td><a asp-action="Delete" asp-controller="News" asp-route-id="@newsModel.Id">Delete</a></td>
                    </tr>
                }



            </table>
        </div>
    </div>
