@model  OnlineCourseSystem.Domain.Model.Post
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_LayoutMain.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/styles/blog_single.css">
<link rel="stylesheet" type="text/css" href="~/styles/blog_single_responsive.css">
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li>Blog Single</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->

<div class="blog">
    <div class="container">
        <div class="row">

            <!-- Blog Content -->
            <div class="col-lg-8">
                <div class="blog_content">
                    <div class="blog_title">@Model.Name</div>
                    <div class="blog_meta">
                        <ul>
                            <li>Post on <a href="#">@Model.Time</a></li>
                            @if (Model.Author.Name == null || Model.Author.Surname == null )
                            {
                            <li>By <a href="#">@Model.Author.UserName</a></li>
                            }
                            else
                            {
                            <li>By <a href="#">@Model.Author.Name @Model.Author.Surname</a></li>
                            }
                        </ul>
                    </div>
                    @if (Model.ImageUrl != null)
                    {
                    <div class="blog_image"><img src="@Model.ImageUrl" alt=""></div>
                    }
                    <p>@Model.Text</p>
                </div>
                <div class="blog_extra d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                </div>
            </div>

            <!-- Blog Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Categories -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Categories</div>
                        <div class="sidebar_categories">
                            <ul class="categories_list">
                                <li><a href="#" class="clearfix">Art & Design<span>(25)</span></a></li>
                                <li><a href="#" class="clearfix">Business<span>(10)</span></a></li>
                                <li><a href="#" class="clearfix">IT & Software<span>(22)</span></a></li>
                                <li><a href="#" class="clearfix">Languages<span>(12)</span></a></li>
                                <li><a href="#" class="clearfix">Programming<span>(18)</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Latest News -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Latest Courses</div>
                        <div class="sidebar_latest">

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="images/latest_1.jpg" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">How to Design a Logo a Beginners Course</a></div>
                                    <div class="latest_date">november 11, 2017</div>
                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="images/latest_2.jpg" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">Photography for Beginners Masterclass</a></div>
                                    <div class="latest_date">november 11, 2017</div>
                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="images/latest_3.jpg" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">The Secrets of Body Language</a></div>
                                    <div class="latest_date">november 11, 2017</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

