@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/User/Views/Shared/_LayoutMain.cshtml";
}

<section class="my-info">
    <div class="container">
        <div class="my-info-content">

            <div class="my-info-box">
                <div class="my-info-name">
                    @if (Model.Name == null || Model.Surname == null)
                    {
                        <h1>
                            @Model.UserName
                        </h1>
                    }
                    else
                    {
                        <h1>
                            @Model.Name<br />
                            @Model.Surname
                        </h1>
                    }
                </div>
                
                <div class="my-info-courses">
                    <div class="my-info-course">
                        @Model.CoursesComplete courses <br />
                        <span class="info-course-small">completed</span>
                    </div>
                    <div class="my-info-course">
                        @Model.CoursesInProgress courses <br />
                        <span class="info-course-small">in queue</span>
                    </div>
                </div>
                <div class="my-courses-create-buttons">
                    
                    @if (Model.IsCourseCreator)
                    {
                        <form asp-action="Create" asp-controller="Course" method="get">
                            <button class="home_search_button creator-button creator-button-big">Create course</button>|
                        </form>
                    }
                    else
                    {
                        
                        
                            <form asp-action="BecomeCourseCreator" asp-controller="Profile">
                                <button class="home_search_button creator-button creator-button-xl">Become course creator</button>|
                            </form>
                        
                    }
                    <form asp-action="Create" asp-controller="Event" method="get">
                        <button class="home_search_button creator-button">Plan event</button>|
                    </form>
                    <form asp-action="Create" asp-controller="Blog" method="get">
                        <button class="home_search_button creator-button">Write a blog</button>
                    </form>


                </div>
            </div>
            <div class="my-info-avatar">
                <img src="@Model.AvatarUrl" alt="Alternate Text" />
            </div>
        </div>

    </div>
</section>


<section class="my-courses-manager">

    <div class="container">
        <div class="course_tabs_container">
            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                <div class="tab active">Course subscriptions</div>
                @if (Model.IsCourseCreator)
                {
                   <div class="tab">My courses</div>
                } 
                @if (Model.HaveEvents)
                {
                    <div class="tab">My events</div>
                }
                @if (Model.HaveBlogs)
                {
                    <div class="tab">My Blogs</div>
                }
                
            </div>
            <div class="tab_panels">

                <!-- Description -->
                <div class="tab_panel active">

                    <section class="my-courses">

                        <div class="container">

                            <div class="my-courses-title">
                                <div class="my-courses-counter">
                                    <h3>@Model.CoursesInTotal courses in total</h3>
                                </div>
                                <div class="my-courses-done">
                                    @Model.CoursesComplete courses completed
                                </div>
                            </div>
                            @foreach (var courseModel in Model.Courses)
        {
                            <div class="my-courses-box">
                                <div class="my-courses-box-top">
                                    <div class="my-courses-box-image">
                                        <img src="@courseModel.ImageUrl" alt="Alternate Text" />
                                    </div>
                                    <div class="my-courses-box-info">
                                        <div class="my-courses-box-title"><h4>@courseModel.Name</h4></div>
                                        <div class="my-courses-box-date">
                                            <div class="courses-duration">@courseModel.DurationInHours hours</div>
                                            <div class="courses-status">Status: @courseModel. hours</div>
                                            <form asp-action="Course" asp-controller="Study" asp-route-id="@courseModel.Id">
                                                <button class="home_search_button my-courses-box-button my-courses-box-button-materials">Go to course materials</button>
                                            </form>
                                            <form asp-action="Details" asp-controller="CourseStatistic" asp-route-courseId="@courseModel.Id">
                                                <button class="home_search_button my-courses-box-button my-courses-box-button-materials">View statistic</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-courses-box-bottom">
                                    <div class="professor-avatar">
                                        <img src="@courseModel.AuthorImageUrl" alt="Alternate Text" />
                                    </div>
                                    <div class="professor-name"><h5>@courseModel.Author</h5></div>
                                </div>
                            </div>
        }

                        </div>
                    </section>

                </div>
                @if (Model.IsCourseCreator)
                {
                    <div class="tab_panel tab_panel_2">
                        <section class="my-courses">

                            <div class="container">

                                <div class="my-courses-title">
                                    <div class="my-courses-counter">
                                        <h3>@Model.MyCourses.Count() courses</h3>
                                    </div>


                                </div>
                                @foreach (var courseModel in Model.MyCourses)
                                {
                            <div class="my-courses-box">
                                <div class="my-courses-box-top flex-wrap">
                                    <div class="my-courses-box-second my-courses-box-second-title">
                                        <div><h3>@courseModel.Name</h3></div>
                                    </div>
                                    <div class="my-courses-box-second">
                                        <div><h4> Raiting: @courseModel.Raiting of 5 </h4></div>
                                    </div>
                                    <div class="my-courses-box-second">
                                        <div><h4> Subscribers : @courseModel.Subscribers </h4></div>
                                    </div>


                                </div>
                                <div class="my-courses-box-bottom">
                                    <div class="my-courses-box-second">
                                        <div><h4><a asp-action="Details" asp-controller="Course" asp-route-id="@courseModel.Id">Details</a></h4></div>
                                    </div>
                                    <div class="my-courses-box-second">
                                        <div><h4><a asp-action="Delete" asp-controller="Course" asp-route-id="@courseModel.Id">Delete</a></h4></div>
                                    </div>
                                </div>

                            </div>
                                }

                            </div>
                        </section>
                    </div>
                } 
                <!-- Curriculum -->
                
                @if (Model.HaveEvents)
                {
                    <div class="tab_panel tab_panel_2">
                        <section class="my-courses">

                            <div class="container">

                                <div class="my-courses-title">
                                    <div class="my-courses-counter">
                                        <h3>@Model.Events.Count() created events</h3>
                                    </div>


                                </div>
                                @foreach (var eventModel in Model.Events)
                                {
                            <div class="my-courses-box">
                                <div class="my-courses-box-top">
                                    <div class="my-courses-box-info">
                                        <div><h3>@eventModel.Title</h3></div>
                                    </div>
                                    
                                </div>
                                <div class="my-courses-box-bottom">
                                    <div class="my-courses-box-info">
                                        <div><h4><a asp-action="Details" asp-controller="Event" asp-route-id="@eventModel.Id">Details</a></h4></div>
                                    </div>
                                    <div class="my-courses-box-info">
                                        <div><h4><a asp-action="Delete" asp-controller="Event" asp-route-id="@eventModel.Id">Delete</a></h4></div>
                                    </div>
                                </div>
                            </div>
                                }

                            </div>
                        </section>
                    </div>
                                }
                @if (Model.HaveBlogs)
                {
                    <div class="tab_panel tab_panel_2">
                        <section class="my-courses">

                            <div class="container">

                                <div class="my-courses-title">
                                    <div class="my-courses-counter">
                                        <h3>@Model.Blogs.Count() created blogs</h3>
                                    </div>


                                </div>
                                @foreach (var eventModel in Model.Blogs)
                                {
                            <div class="my-courses-box">
                                <div class="my-courses-box-top">
                                    <div class="my-courses-box-info">
                                        <div><h3>@eventModel.Title</h3></div>
                                    </div>
                                    
                                </div>
                                <div class="my-courses-box-bottom">
                                    <div class="my-courses-box-info">
                                        <div><h4><a asp-action="Details" asp-controller="Blog" asp-route-id="@eventModel.Id">Details</a></h4></div>
                                    </div>
                                    <div class="my-courses-box-info">
                                        <div><h4><a asp-action="Delete" asp-controller="Blog" asp-route-id="@eventModel.Id">Delete</a></h4></div>
                                    </div>
                                </div>
                            </div>
                                }

                            </div>
                        </section>
                    </div>
                }


            </div>
        </div>

    </div>

</section>







<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/course.js"></script>