@model CourseDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutMain";
}

@section Links{
    <link href="~/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/styles/courses.css">
    <link rel="stylesheet" type="text/css" href="~/styles/course.css">
    <link rel="stylesheet" type="text/css" href="~/styles/course_responsive.css">
}


<!-- Home -->
<!-- Course -->

<div class="course">
    <div class="container">
        <div class="row">

            <!-- Course -->
            <div class="col-lg-8">

                <div class="course_container">
                    <div class="course_title">@Model.Course.Name</div>
                    <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Teacher:</div>
                            @if (@Model.Course.Author.Name == null || @Model.Course.Author.Surname == null)
                            {
                                <div class="course_info_text">@Model.Course.Author.UserName</div>
                            }
                            else
                            {
                                <div class="course_info_text">@Model.Course.Author.Name @Model.Course.Author.Surname</div>
                            }
                        </div>

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Reviews:</div>
                            <div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
                        </div>

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Main Category:</div>
                            <div class="course_info_text">
                                <a href="#">@Model.Course.Categories.Take(1).First().Category.Name</a>
                            </div>
                        </div>

                    </div>

                    <!-- Course Image -->
                    <div class="course_image course_image_details"><img src="@Model.Course.ImageUrl" alt=""></div>

                    <!-- Course Tabs -->
                    <div class="course_tabs_container">
                        <div class="tabs d-flex flex-row align-items-center justify-content-start">
                            <div class="tab active">description</div>
                            <div class="tab">curriculum</div>
                            <div class="tab">Discussions</div>
                        </div>
                        <div class="tab_panels">

                            <!-- Description -->
                            <div class="tab_panel active">
                                <div class="tab_panel_title">@Model.Course.Name</div>
                                <div class="tab_panel_content">
                                    <div class="tab_panel_text">
                                        <p>@Model.Course.Description</p>
                                    </div>
                                    <div class="tab_panel_section">
                                        <div class="tab_panel_subtitle">Requirements</div>

                                        <div class="tab_panel_text">
                                            <p>
                                                @Model.Course.RequirementKnowledge
                                            </p>

                                        </div>

                                    </div>
                                    <div class="tab_panel_section">
                                        <div class="tab_panel_subtitle">What is the target audience?</div>
                                        <div class="tab_panel_text">
                                            <p>@Model.Course.TargetAuditory</p>
                                        </div>
                                    </div>
                                    <div class="tab_panel_faq">
                                        <div class="tab_panel_title">FAQ</div>

                                        <!-- Accordions -->
                                        <div class="accordions">

                                            <div class="elements_accordions">

                                                <div class="accordion_container">
                                                    <div class="accordion d-flex flex-row align-items-center"><div>Can I just enroll in a single course?</div></div>
                                                    <div class="accordion_panel">
                                                        <p>You can take individual courses in a Specialization without having to complete the entire Specialization.</p>
                                                    </div>
                                                </div>

                                                <div class="accordion_container">
                                                    <div class="accordion d-flex flex-row align-items-center"><div>What if I'm not interested in the entire Specialization.</div></div>
                                                    <div class="accordion_panel">
                                                        <p>You can buy individual courses.</p>
                                                    </div>
                                                </div>


                                                <div class="accordion_container">
                                                    <div class="accordion d-flex flex-row align-items-center"><div>What background knowledge is necessary?</div></div>
                                                    <div class="accordion_panel">
                                                        <p>Our courses are optimised for base level of knoledge.</p>
                                                    </div>
                                                </div>

                                                <div class="accordion_container">
                                                    <div class="accordion d-flex flex-row align-items-center"><div>Do i need to take the courses in a specific order?</div></div>
                                                    <div class="accordion_panel">
                                                        <p>Yes, we recommend to take the courses in a specific order, but you can come back to any lesson of courses in any time.</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Curriculum -->
                            <div class="tab_panel tab_panel_2">
                                <div class="tab_panel_content">
                                    <div class="tab_panel_title">@Model.Course.Name</div>
                                    <div class="tab_panel_content">
                                        <div class="tab_panel_text">
                                            <p>@Model.Course.Description</p>
                                        </div>

                                        <!-- Dropdowns -->
                                        <ul class="dropdowns">
                                            @foreach (var sec in Model.Course.Sections)
                                            {

                                                <li class="has_children">
                                                    <div class="dropdown_item">
                                                        <div class="dropdown_item_title">@sec.Name</div>
                                                        <div class="dropdown_item_text">
                                                            <p>@sec.Description</p>
                                                        </div>
                                                    </div>
                                                    <ul>
                                                        @foreach (var theme in sec.Topics)
                                                        {
                                                            <li>
                                                                <div class="dropdown_item">
                                                                    <div class="dropdown_item_title">@theme.Name</div>
                                                                    <div class="dropdown_item_text">
                                                                        <p>@theme.Description</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }

                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Reviews -->
                            <div class="tab_panel tab_panel_3">
                                <div class="tab_panel_title">Discussion</div>
                                <div id="disqus_thread"></div>
                                <!-- Rating -->
                                <!-- Comments -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar sidebar_course_details">
                    <div class="sidebar_section">
                        @if (Model.IsEnrolled)
                        {
                            <button class="home_search_button my-courses-box-button enrolled-button">Already Enrolled</button>
                        }
                        else
                        {
                            <form asp-action="AddCourse" asp-controller="Profile" asp-route-courseId="@Model.Course.Id">
                                <button class="home_search_button my-courses-box-button"> Enroll this Course</button>
                            </form>
                        }

                    </div>
                    <!-- Feature -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Course Feature</div>
                        <div class="sidebar_feature">
                            <!-- Features -->
                            <div class="feature_list">
                                <!-- Feature -->
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="fa-row">Duration:</span></div>
                                    <div class="feature_text position-value-fixer ml-auto">@(Model.Course.DurationInHours)</div>
                                </div>

                                <!-- Feature -->
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="fa-row">Lectures:</span></div>
                                    <div class="feature_text position-value-fixer ml-auto">@Model.Course.TextTaskCount</div>
                                </div>

                                <!-- Feature -->
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fa fa-question-circle-o" aria-hidden="true"></i><span class="fa-row">Questions:</span></div>
                                    <div class="feature_text position-value-fixer ml-auto">@Model.Course.QuizTaskCount</div>
                                </div>

                                <!-- Feature -->
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="fa-row">Videos:</span></div>
                                    <div class="feature_text position-value-fixer ml-auto">@Model.Course.VideoTaskCount</div>
                                </div>
                                <!-- Feature -->
                            </div>
                        </div>
                    </div>

                    <!-- Feature -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Teacher</div>
                        <div class="sidebar_teacher">
                            <div class="teacher_title_container d-flex flex-row align-items-top justify-content-start">
                                <div class="teacher_image"><img src="@Model.Course.Author.PhotoUrl" alt=""></div>
                                <div class="teacher_title">
                                    @if (Model.Course.Author.Name == null || Model.Course.Author.Surname == null)
                                    {
                                        <div class="teacher_name"><h5>@Model.Course.Author.UserName</h5></div>
                                    }
                                    else
                                    {
                                        <div class="teacher_name">@Model.Course.Author.Name @Model.Course.Author.Surname</div>
                                    }
                                    <div class="teacher_position">@Model.Course.Author.Status</div>
                                    <div class="teacher_meta_container">
                                        <!-- Teacher Rating -->
                                        <div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                                            <div class="teacher_meta_title">Avg Rating:</div>
                                            <div class="teacher_meta_text ml-auto"><span>5</span><i class="fa fa-star" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="teacher_info">
                                <p>@Model.Course.Author.Description</p>
                            </div>
                        </div>
                    </div>

                    <!-- Latest Course -->
                    <div class="sidebar_section">
                        @await Component.InvokeAsync("LastCourses")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->







@section Scripts{
    <script>

        /**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://wkila.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/styles/bootstrap4/popper.js"></script>
    <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/js/course.js"></script>
}
