@model IEnumerable<OnlineCourseSystem.Domain.Model.Event>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="table-title">
                List of events
            </div>
            <table id="customers" class="table table-bordered table-hover table-custom">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                @foreach (var newsModel in Model)
                {
            <tr>
                <td>@newsModel.Id</td>
                <td>@newsModel.Name</td>
                @if (newsModel.Organizer.Name == null || newsModel.Organizer.Surname == null)
                {
                    <td>@newsModel.Organizer.UserName</td>
                }
                else
                {
                    <td>@newsModel.Organizer.UserName (@newsModel.Organizer.Name @newsModel.Organizer.Surname)</td>
                }  
                <td><a asp-action="Details" asp-controller="News" asp-route-id="@newsModel.Id">Details</a></td>
                <td><a asp-action="Delete" asp-controller="News" asp-route-id="@newsModel.Id">Delete</a></td>
            </tr>
                }


            </table>
        </div>
    </div>
